{% extends "layout_user.html.twig" %}

{% block ahmed1 %}
<li><a href="{{ path('show') }}">Profil</a></li>
<li class="active"><a href="{{ path('updateuser') }}">Update Information </a>
</li>
<li><a href="{{ path('showPack') }}">List Of Pack Man </a></li>
<li><a href="{{ path('listamis') }}">List Of My Pack Man Freinds </a></li>

<li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i>Log out </a>

    {% endblock %}

    {% block fos_user_content %}

        <font color="#22427C"><h3> Update Information </h3></font>


        {% include "views/Registration/update_content.html.twig" %}
    {% endblock fos_user_content %}
